.profile-left img {
    width: 75px;
    height: 75px;
    float: left;
    background-color: #f5eded;
    border-radius: 50%;

}
.header-container {

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}